In [115]:
source("/home/PERSONALE/federico.magnani9/gepoh/utils.r")

Importing libraries: data.table, igraph

    Utils are loaded! ^_^

    Useful objects:

    	load_data

    	signatures_and_splits

    	fisher_wrt_splits

In [116]:
names(load_data)
names(signatures_and_splits)
names(fisher_wrt_splits)

diseases <- load_data$diseases()
tfs <- load_data$tfs()
genes <- load_data$genes()
triclusters_df <- load_data$triclusters()
binary_networks <- load_data$binary_networks()
splits <- load_data$splits()
fisher_test <- load_data$fisher_wrt_splits()
network_stats <- load_data$network_stats()

[1] "diseases"          "tfs"               "genes"
[4] "binary_networks"   "triclusters"       "signatures"
[7] "splits"            "fisher_wrt_splits" "network_stats"

[1] "load_disregnet_tensor"

[1] "diseases2code"         "perform_fisher"        "aggregate_triclusters"
[4] "network_stats"

# Compute Signatures and Splits

In [42]:
# Make tensor with dimensions: diseases, genes, tfs
disregnets <- signatures_and_splits$load_disregnet_tensor()

In [51]:
# Collapse tensor wrt diseases, saving in each entry of the resulting matrix the string code of the entries in the diseases direction
signatures <- as.data.frame(apply(disregnets, c(2,3), signatures_and_splits$get_signature))
colnames(signatures) <- tfs
rownames(signatures) <- genes
signatures <- t(signatures)

In [60]:
signatures[1:6,1:9]

results_path <- "/home/PERSONALE/federico.magnani9/gepoh/main_results/"
write.csv(signatures, paste(results_path, "signatures.csv", sep=''))

           A1BG          A1BG-AS1      A1CF          A2M
AC023509.3 1111111111111 1111111111111 0000000000000 0000000000000
AC138696.1 0000000000000 0000000000000 0000000000000 0000000000000
AHR        0000000000000 0000000000000 0000000000000 0000000000000
AHRR       0000000000000 0000000000000 0000000000000 0000000000000
AIRE       0000000000000 0000000000000 0000000000000 0000000000000
ALX1       0000000000000 0000000000000 0000000000000 0000000000000
           A2M-AS1       A2ML1         A4GALT        A4GNT
AC023509.3 1111111111111 0000000000000 1111111111111 0000000000000
AC138696.1 1000000000000 0000000000000 0000100100000 0000000000000
AHR        1000000000000 0000000000000 0000100100000 0000000000000
AHRR       1000000000000 0000000000000 0000100100000 0000000000000
AIRE       1000000000000 0000000000000 0000100100000 1111111111111
ALX1       1000000000000 0000000000000 0000100100000 0000000000000
           AA06
AC023509.3 0000000000000
AC138696.1 0000000000000
AHR        0000000000000
AHRR       0000000000000
AIRE       0000000000000
ALX1       0000000000000

In [61]:
splits <- apply(signatures, MARGIN=c(1,2), FUN=signatures_and_splits$signature2split)

splits[1:6,1:9]

results_path <- "/home/PERSONALE/federico.magnani9/gepoh/main_results/"
write.csv(splits, paste(results_path, "splits.csv", sep=''))

           A1BG          A1BG-AS1      A1CF          A2M
AC023509.3 1111111111111 1111111111111 1111111111111 1111111111111
AC138696.1 1111111111111 1111111111111 1111111111111 1111111111111
AHR        1111111111111 1111111111111 1111111111111 1111111111111
AHRR       1111111111111 1111111111111 1111111111111 1111111111111
AIRE       1111111111111 1111111111111 1111111111111 1111111111111
ALX1       1111111111111 1111111111111 1111111111111 1111111111111
           A2M-AS1       A2ML1         A4GALT        A4GNT
AC023509.3 1111111111111 1111111111111 1111111111111 1111111111111
AC138696.1 0111111111111 1111111111111 1111011011111 1111111111111
AHR        0111111111111 1111111111111 1111011011111 1111111111111
AHRR       0111111111111 1111111111111 1111011011111 1111111111111
AIRE       0111111111111 1111111111111 1111011011111 1111111111111
ALX1       0111111111111 1111111111111 1111011011111 1111111111111
           AA06
AC023509.3 1111111111111
AC138696.1 1111111111111
AHR        1111111111111
AHRR       1111111111111
AIRE       1111111111111
ALX1       1111111111111

# Perform Fisher's test with splits

In [125]:
fisher_test <- fisher_wrt_splits$perform_fisher(splits, triclusters_df)

head(fisher_test)

iteartion 1000/23624...

iteartion 2000/23624...

iteartion 3000/23624...

iteartion 4000/23624...

iteartion 5000/23624...

iteartion 6000/23624...

iteartion 7000/23624...

iteartion 8000/23624...

iteartion 9000/23624...

iteartion 10000/23624...

iteartion 11000/23624...

iteartion 12000/23624...

iteartion 13000/23624...

iteartion 14000/23624...

iteartion 15000/23624...

iteartion 16000/23624...

iteartion 17000/23624...

iteartion 18000/23624...

iteartion 19000/23624...

iteartion 20000/23624...

iteartion 21000/23624...

iteartion 22000/23624...

iteartion 23000/23624...

  diseases                                            clusterIn notClusterIn
1 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL 7495092         0
2 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL 2433816         0
3 ALL,AML,BL,CLL,CML,DLBCL,HL,MCL,MDS,MM,MZLs,PTCL      17260    101808
4 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL   11270         0
5 FL                                                    57813   2075971
6 ALL,AML,BL,CLL,CML,DLBCL,HL,MCL,MDS,MM,MZLs,PTCL      15914     49485
  clusterOut notClusterOut pval
1  7211034    3792024      0
2 12272310    3792024      0
3   213059   18166023      0
4 14694856    3792024      0
5   172506   16191860      0
6   214405   18218346      0

In [127]:
results_path <- "/home/PERSONALE/federico.magnani9/gepoh/main_results/"
write.csv(fisher_test, paste(results_path, "fisher_wrt_splits.csv", sep=''))

In [11]:
bonferroni <- TRUE
adjust <- 1
if(bonferroni){adjust <- nrow(fisher_test)}
left <- fisher_test$pval<0.01/adjust

garbage <- (fisher_test$clusterIn < ((fisher_test$clusterIn+fisher_test$clusterOut)/(fisher_test$clusterIn+fisher_test$notClusterIn)))

table(!garbage)
table(left)
table(left&!garbage)

# Filter the original dataframe since it's aligned with the dataframe of fisher's test
significative_triclusters <- triclusters_df[left&!garbage,]

FALSE  TRUE
21049  2575

left
FALSE  TRUE
15247  8377

FALSE  TRUE
21976  1648

In [98]:
significative_triclusters <- triclusters_df[left&!garbage,]
significative_fisher_test <- fisher_test[left&!garbage,]

aggregate_df <- fisher_wrt_splits$aggregate_triclusters(significative_triclusters, significative_fisher_test)
head(aggregate_df)

  diseases                                            N_diseases vol
1 ALL                                                  1           650984
2 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs      12             3461
3 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL 13         12914727
4 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MZLs,PTCL    12            38318
5 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MDS,MM,MZLs,PTCL     12            16371
6 ALL,AML,BL,CLL,CML,DLBCL,FL,MCL,MDS,MM,MZLs,PTCL    12            13040
  clusterIn
1   199425
2     2052
3 12914727
4    32671
5      426
6     1162

In [99]:
network_stats <- fisher_wrt_splits$network_stats(aggregate_df, significative_triclusters, binary_networks, splits)
head(network_stats)

1/70

2/70

3/70

4/70

5/70

6/70

7/70

8/70

9/70

10/70

11/70

12/70

13/70

14/70

15/70

16/70

17/70

18/70

19/70

20/70

21/70

22/70

23/70

24/70

25/70

26/70

27/70

28/70

29/70

30/70

31/70

32/70

33/70

34/70

35/70

36/70

37/70

38/70

39/70

40/70

41/70

42/70

43/70

44/70

45/70

46/70

47/70

48/70

49/70

50/70

51/70

52/70

53/70

54/70

55/70

56/70

57/70

58/70

59/70

60/70

61/70

62/70

63/70

64/70

65/70

66/70

67/70

68/70

69/70

70/70

  diseases                                            N_diseases vol
1 ALL                                                  1           650984
2 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs      12             3461
3 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL 13         12914727
4 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MZLs,PTCL    12            38318
5 ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MDS,MM,MZLs,PTCL     12            16371
6 ALL,AML,BL,CLL,CML,DLBCL,FL,MCL,MDS,MM,MZLs,PTCL    12            13040
  clusterIn oneEdges oneEdges_clusterIn n_connected_nodes n_connected_genes
1   199425  331406   198092             16216             701
2     2052  500      38                 36                2
3 12914727  1173944  1173944            16450             891
4    32671  1456     8                  10                2
5      426  1330     0                  0                 0
6     1162  1823     34                 37                3
  n_connected_tfs
1 15515
2 34
3 15559
4 8
5 0
6 34

In [111]:
network_stats[ 
    order(as.numeric(network_stats$n_connected_nodes), decreasing=FALSE), 
    c("diseases", "N_diseases", "vol", "n_connected_nodes", "n_connected_genes", "n_connected_tfs")
]

results_path <- "/home/PERSONALE/federico.magnani9/gepoh/main_results/"
write.csv(network_stats, paste(results_path, "network_stats.csv", sep=''))

   diseases                                            N_diseases vol
5  ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MDS,MM,MZLs,PTCL     12          16371
11 ALL,AML,BL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL     12          40266
12 ALL,AML,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL    12           1278
13 ALL,AML,CLL,CML,FL,HL,MCL,MDS,MM,MZLs,PTCL          11          17434
16 ALL,BL,CLL,CML,FL,HL,MCL,MDS,MM,MZLs,PTCL           11           2325
22 AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs          11           7488
24 AML,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL        11           2163
49 DLBCL,FL,PTCL                                        3           2317
60 HL,MM                                                2         414018
9  ALL,AML,BL,CLL,CML,FL,HL,MCL,MDS,MM,MZLs,PTCL       12           7780
36 CLL,DLBCL                                            2           1086
15 ALL,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL     12           5421
35 CLL,CML                                              2            465
45 CML,MDS                                              2           1582
61 HL,MZLs                                              2            795
32 BL,MDS                                               2           1206
55 FL,MCL                                               2           7384
17 ALL,CLL                                              2           2655
33 BL,PTCL                                              2           1778
50 DLBCL,HL                                             2           1115
4  ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MZLs,PTCL    12          38318
47 CML,MZLs                                             2           1928
10 ALL,AML,BL,CLL,CML,HL,MCL,MDS,MM,MZLs,PTCL          11           2206
14 ALL,BL                                               2           9684
19 ALL,HL                                               2           3795
26 AML,MDS                                              2           1152
27 AML,MM                                               2           6132
37 CLL,FL                                               2           1790
40 CLL,MM                                               2           3132
44 CML,MCL                                              2            858
⋮  ⋮                                                   ⋮          ⋮
56 FL,MDS                                               2             6901
63 MCL,MZLs                                             2            11460
52 DLBCL,PTCL                                           2             3374
65 MDS,MZLs                                             2             3364
2  ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs      12             3461
6  ALL,AML,BL,CLL,CML,DLBCL,FL,MCL,MDS,MM,MZLs,PTCL    12            13040
8  ALL,AML,BL,CLL,CML,DLBCL,MCL,MDS,MM,MZLs,PTCL       11            43342
18 ALL,CML                                              2             6132
28 AML,PTCL                                             2             5727
51 DLBCL,MCL                                            2             5206
20 ALL,MDS                                              2            13018
59 HL,MDS                                               2             1425
43 CML,HL                                               2            35164
38 CLL,HL                                               2            37407
30 BL,CLL                                               2            84107
7  ALL,AML,BL,CLL,CML,DLBCL,HL,MCL,MDS,MM,MZLs,PTCL    12           370404
41 CML                                                  1           518678
1  ALL                                                  1           650984
70 PTCL                                                 1          1239423
21 AML                                                  1           823494
67 MM                                                   1          1681138
34 CLL                                                  1           963073
62 MCL                                                  1          2124660
69 MZLs                                                 1          1362565
48 DLBCL                                                1          2055012
29 BL                                                   1           943556
58 HL                                                   1          1200054
64 MDS                                                  1          2093424
3  ALL,AML,BL,CLL,CML,DLBCL,FL,HL,MCL,MDS,MM,MZLs,PTCL 13         12914727
53 FL                                                   1          2874820
   n_connected_nodes n_connected_genes n_connected_tfs
5   0                 0                 0
11  0                 0                 0
12  0                 0                 0
13  0                 0                 0
16  0                 0                 0
22  0                 0                 0
24  0                 0                 0
49  0                 0                 0
60  2                 1                 1
9   5                 1                 4
36  5                 3                 2
15  7                 1                 6
35  7                 5                 2
45  7                 2                 5
61  7                 5                 2
32  8                 6                 2
55  8                 4                 4
17  9                 5                 4
33  9                 7                 2
50  9                 5                 4
4  10                 2                 8
47 10                 7                 3
10 12                 1                11
14 12                 9                 3
19 12                11                 1
26 12                 9                 3
27 12                 9                 3
37 12                10                 2
40 12                 9                 3
44 12                11                 1
⋮  ⋮                 ⋮                 ⋮
56    23              20                   3
63    24              21                   3
52    25              21                   4
65    30              27                   3
2     36               2                  34
6     37               3                  34
8     46              20                  26
18   166               1                 165
28   211               1                 210
51   267             266                   1
20   286             283                   3
59   287             285                   2
43   296             292                   4
38   308             303                   5
30   312               2                 310
7   1384              89                1295
41 14611             849               13762
1  16216             701               15515
70 16246             726               15520
21 16260             814               15446
67 16292             851               15441
34 16307             778               15529
62 16359             838               15521
69 16376             800               15576
48 16388             847               15541
29 16397             781               15616
58 16424             839               15585
64 16445             751               15694
3  16450             891               15559
53 16494             883               15611